@media (min-width: 1400px) {
    .alto-100 {
        height: 100vh;
    }
}

form {
    background-image: url(resources/img/fondoGC2.jpg);
    background-size: 100% auto;
    background-position: center top;
    background-repeat: initial;
}