/*CSS Login Cliente*/
.login_cliente div {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    position: inherit;
    padding: 10pt;
}

.login_cliente label, input {
    border-radius: 15px;
    text-align: center;
    padding: 5pt;
    font-weight: bold;
}

.login_cliente a{
    font-size: 18px;
    font-weight: bold;
    color:#FFFFFF;
    text-decoration: none;
}

.login_cliente a:active{
    font-size: 18px;
    font-weight: bold;
    color:#FFFFFF;
    text-decoration: none;
}

.login_cliente a:visited{
    font-size: 18px;
    font-weight: bold;
    color:#FFFFFF;
    text-decoration: none;
}